<template>
  <div id="app">
    <img src="./assets/logo.png">
    <adv-hello name="Advo Element" />
    <adv-button type="danger">BUTTON</adv-button>
  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
    AdvHello: () => import('./components/hello'),
    AdvButton: () => import('./components/button'),
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
