<template>
  <div class="hello">
    <adv-hello :name="name" />
    <adv-button type="danger">Button From Advo Element</adv-button>
  </div>
</template>

<script>
import utils from 'utils'

export default {
  name: 'Home',
  data () {
    return {
      name: utils.uppercase('wpdms'),
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
