<template>
  <button type="button" class="adv-button" :class="getTypeClass">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'AdvButton',
  props: { type: String },
  data() {
    return {}
  },
  computed: {
    getTypeClass() {
      return this.type ? `adv-button--${this.type}` : null
    },
  },
}
</script>

<style lang="scss" scoped>
.adv-button {
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 1px solid black;

  &:hover {
    opacity: 0.6;
  }

  &--primary {
    background-color: green;
    color: white;
    border: 1px solid green;
  }

  &--danger {
    background-color: red;
    color: white;
    border: 1px solid red;
  }
}
</style>
